/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
}
